* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 5vh auto;
  text-align: center;
  font-family: arial;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 2rem;
  padding: 2rem 4rem;
}

img {
  width: 100%;
}

button {
  display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
  background-color: yellowgreen;
  padding: 0.5rem 1.25rem;
  color: black;
  border-radius: 2rem;
  border: none;
}

button:hover,
button:active {
  background-color: darkgreen;
  color: white;
}
